<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Basic Automation Framework">
    <test name="First Test">
        <classes>
            <class name="FirstTest">
                <methods>
                    <include name = "firstNavigationTest"/>
                </methods>
            </class>
        </classes>
    </test> <!-- First Test -->
</suite> <!-- Basic Automation Framework -->